body{
    font-size:20px;
}
*{
 box-sizing:border-box;    
}
.left {
    float: left;
    padding: 50px;
    width: 50%;
    height: 300px;
    }   
.right{    
    float: left; 
    padding: 10px;
    width: 50%;
    height: 300px;
    }
.ver{
    border-left:10px solid #9e8282;    
    height:600px;
    position:absolute;
    left:45%;
    }
#fname    
{    
    margin-left:30px;   
}    
input[type="email"]    
{
    margin-left:10px;
}    
input[type="tel"]    
{    
   margin-left:10px;    
}    
#emno    
{    
    margin-left:85px;   
}    
input[type="radio"]
{   
    margin-left:10px;   
}
    
    
    